@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>  Who Are We?</h1>
    
    <h2>We Are Acadamy</h2>

    <p>
        Acadamy Software Private Limited (ASPL) is a versatile company having a multiple product & service portfolio.
        
        Our main service is to provide highly trained resources to reputed companies in India.
        
        We take pride in catering to a variety of customers like Students, Corporate, Institutes, and Universities.
        
        True to the quote, Acadamy has never looked back since its establishment in 2015. Under the able leadership of Abhishek Lande (Founder and CEO), Acadamy has grown from a team of 3 to a team of 40 employees. The determination, vision and teamwork that artisans have put in is the sole reason for the company's exponential growth.

        We provide 100% job guarantee to our students by enhancing their technical skills through our placement programs. We teach our students coding in highly demanded programing languages along with a providing perfect blend of soft skills allowing them to crack interviews of top IT companies in India. Our main highlight is our Earn & Pay program where in the student pays for his training fees only after he gets placed which is highly beneficial for the students to manage their finances.
    </p>
</div>
