<h1>This is Home Page</h1>
<h2>@ViewData["Massage"]</h2>
@if (ViewData["colorList"]!=null)
{
    <ul>
    @foreach(var item in (IEnumerable<string>)ViewData["colorList"])
    {
        <li>
            @item
        </li>
    }
</ul>
}
<ol>
@foreach (var item in ViewBag.color)
{
    <li>
        @item
    </li>
}
</ol>
           
<div>
    <h1 ><b>  Job Guarantee or Money Back AI Certification, Cloud Computing, Full stack developer and Robotics Courses</b></h1>
    <br /><img height="195" width="400" src="Mar20_12_115049941.jpg" />
    <p>The courses has been designed specifically for Tech Leads with 2 to 8 years of experience who choose to advance their careers in  AI, Cloud Computing, Full stack developer and Robotics Certification and it comes with a 100% Job Guarantee AI, Cloud Computing, Full stack developer and Robotics Certification Course or money back policy.</p>
    <button>Start Your Demo Today</button>
</div>

   <div >
            <div >
                <h2>AI</h2><p>
                    Weekend and Weekday Batches

                    15+ Real Time Project from AI and ML

                    From Basics to Advance AI modules

                    100% Job Guaranteed Program

                    Special Classes for non-programmers

                    Live Faculty-led Online Training

                    3 Years Flexible Subscription
                </p>
            </div>
            <div >
                <h2>Cloud Computing</h2>
                <p>
                    Weekend and Weekday Batches

                    15+ Real Time Project from cloud Computing

                    From Basics to Advance Cloud Computing

                    100% Job Guaranteed Program

                    Special Classes for non-programmers

                    Live Faculty-led Online Training

                    3 Years Flexible Subscription
                </p>
            </div>
            <div >
                <h2>Full Stack Developer</h2>
                <p>
                    Weekend and Weekday Batches

                    15+ Real Time Project from Full stack developer

                    From Basics to Advance Full stack modules

                    100% Job Guaranteed Program

                    Special Classes for non-programmers

                    Live Faculty-led Online Training

                    3 Years Flexible Subscription
                </p>
            </div>
            <div >
                <h2>Robotics</h2>
                <p>
                    Weekend and Weekday Batches

                    15+ Real Time Project Robotic

                    From Basics to Advance Robotics modules

                    100% Job Guaranteed Program

                    Special Classes for non-programmers

                    Live Faculty-led Online Training

                    3 Years Flexible Subscription
                </p>
            </div>

        </div>

    </div>